.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.BLM {
    text-align: center;
    background-color: #000000;
    color: #eaeaeb;
}

.footer{
    background-color: #000000;
    margin: 100px auto 0 auto;
    padding: 20px 0px 20px 0px;
    color: #eaeaeb;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:10px auto 5px auto;
    background: #282c34;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#b5b6b9;
}

.navbar-dark {
    background-color: #000000;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}